table {
    width: 80%;
    text-align: left;
  }
  
  th, td {
    padding: 8px 12px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  u {
    color: #2a5db0;
  }
  